

/* *,*::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

a{
    cursor: pointer, zoom-in;
    text-decoration: none;
    background-color: var(--primaryC);
}

.card{
    --radius: .3em;
    --primaryC: #00d09c;
    --secondaryClr: #5367ff;

}

body{
    /* background-color: rgb(2, 119, 87); */
    background-Color: #90e0ff;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18.75em, 1fr));
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
    place-content: center;
    padding: 5vw;

}

.card{
    align-self: center;
    border-radius: var(--radius);
    background-color: white;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    max-width: 18em;
    position: relative;
    box-shadow:
    inset 0 -3em 3em rgba(0,0,0,0.1),
          0 0  0 2px rgb(255,255,255),
          0.3em 0.3em 1em rgba(0,0,0,0.3);
}
   
.card-banner img{
    width: 100%;
    height: 25vh;
    border-radius: var(--radius);
}


.card-badge{
    position: absolute;
    padding: .5em 1em;
    right: -0.625em;
    background-color: var(--primaryC);
   color: white;
   
} 


.card-footer{
    display: flex;
    justify-content: space-between;
}


.card-footer-links a{
    color: black;
    font-weight: 500;
    padding: .37em;
    border-radius: var(--radius);
    font-size: 0.9em;
    border: none;
}

.card-footer-buttons button{
    background-color: transparent;
    font-size: 1.1em;
    border: none;
}


/******** Header over media Card *********/


.card-header-over .card-header{
  
    padding: 0.62em;
    margin-top: -5em;
    position: relative;
    z-index: 2;

}

/******** Header before media Card *********/

.card-header-first .card-header{
    order: -1;
}


/******** only links *********/

.card-only-links .card-footer{
    justify-content:center;
}

.card-only-links .card-footer-buttons{
    display: none;
}

.card-only-links .card-footer-links a{
  
    text-align: center;;
  
}

/********** Horizontal card *************/

.card-hor{
    flex-flow: row wrap;
    max-width: 20em;
    padding: 0.625em;
}

.card-hor .card-banner{
    width: 7.8em;
}

.card-hor .card-header{
    align-self: center;
}


.card-hor .card-body{
    display: none;
}

.card-hor .card-footer{
    flex-grow: 1;
}

/********** Only Icons *************/

.card-only-icons .card-footer{
    justify-content: flex-end;
}

.card-only-icons .card-footer-links{
    display: none;
}